body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
 
}

h1 {
  text-align: center;
}

input {
  width: 93%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.note {
  background: #e2e2e2;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
}

.deleteBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}
